/*----------------------------------------------------------------*\
	BUTTONS
\*----------------------------------------------------------------*/
button,
.button {
  display: inline-block;
  padding: var(--Small) var(--Large);
  margin: 0;
	font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
	font-weight: 500;
  color: var(--White);
  text-decoration: none;
  cursor: pointer;
  background-color: var(--Blue);
  border: none;
  transition: all 0.25s linear;

  &:hover,
  &:focus {
    background-color: var(--DarkBlue);
		text-decoration: none;
  }
}
