/*-----------------------------------*\
	FONT FAMILIES
\*-----------------------------------*/
/* 
	https://css-tricks.com/font-display-masses/
	TLDR: font-display: swap;
	https://css-tricks.com/snippets/css/using-font-face/
	TLDR: use woff and woff2 formats only
*/

/*-----------------------------------*\
	HEADER
\*-----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1.618em;
	margin-bottom: .75em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 1.2;
}

h1, .h1 {
	font-size: 40px;
}

h2, .h2 {
	font-size: 34px;
	font-weight: 600;
	color: var(--Blue);
}

h3, .h3 {
	font-family: 'Crimson Pro', serif;
	font-size: 26px;
	text-transform: uppercase;
}

h4, .h4 {
	font-size: 26px;
}

h5, .h5 {
	font-size: 24px;
}

h6, .h6 {
	font-size: 20px;
}

h2 + h3 {
	margin-top: 0;
	line-height: 1.2;
}

/*-----------------------------------*\
	PARAGRAPH
\*-----------------------------------*/
p {
	font-size: 18px;
}

a {
	color: var(--Orange);
	text-decoration: none;
	font-weight: 700;
	transition: all .25s linear;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

/*-----------------------------------*\
	HORIZONTAL RULE
\*-----------------------------------*/
hr {
	margin: var(--xLarge) auto;
	background-color: var(--Orange);
	height: 4px;
	width: 200px;
	border: none;
}

/*-----------------------------------*\
	TABLE
\*-----------------------------------*/
table {
	margin: var(--Large) auto;
}

/*-----------------------------------*\
	QUOTE
\*-----------------------------------*/
blockquote {
	margin: 2em auto;
	width: 90%;
	max-width: 800px;
	padding: var(--Medium);
	font-size: 1.25em;
	text-align: center;

	& h2,
	& h3,
	& h4,
	& h5,
	& p {
		color: inherit;
		font-size: inherit;
	}
}

blockquote>*:first-child {
	margin-top: 0;
}

blockquote>*:last-child {
	margin-bottom: 0;
}

/*-----------------------------------*\
	WP ALIGNMENT
\*-----------------------------------*/
.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

img.alignright {
	display: block;
	float: right;
}

img.alignleft {
	display: block;
	float: left;
}

img.aligncenter {
	display: block;
	margin: 1em auto;
}