/*-----------------------------------*\
	DISPLAY RELATED POSTS VIA ACF RELATIONSHIP
\*-----------------------------------*/
aside.acf-related-posts {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: var(--Large) auto;

	& article {
		width: 30%;
		border: 1px solid var(--Black);
		padding: var(--Medium);

		& h2 {
			margin-top: 0;
		}
	}
}