/*-----------------------------------*\
	POST FOOTER
\*-----------------------------------*/
footer.post-footer {
	background-color: var(--DarkGreen);
	color: var(--White);
	padding: 4rem 0;
	position: relative;

	& .copyright {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		& img {
			max-width: 200px;
		}

		& p {
			font-size: .75em;
			width: 100%;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}