/*-----------------------------------*\
	POST HEADER
\*-----------------------------------*/
header.post-head {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 250px;
	color: var(--White);
	position: relative;

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		background-color: var(--DarkGreen);
		opacity: .5;
	}

	& h1 {
		margin: 0;
	}
}

header.post-head.home-head {
	min-height: 500px;
	text-align: left;

	@media(--tablet) {
		text-align: center;
	}

	& > div {
		max-width: 900px;
		margin: 0 auto;
		width: 90%;
		padding: 3rem 0;

		& h1 {
			font-size: 50px;
			line-height: 1;
		}

		& h2 {
			margin: 1.5rem 0 2rem;
			line-height: 1.2;
			padding: 0;
			font-size: 24px;
			color: var(--White);

			@media(--tablet) {
				padding: 0 1rem;
				font-size: 30px;
			}
		}
	}
}