/*-----------------------------------*\
	MEDIA QUERIES IN CORRECT ORDER
\*-----------------------------------*/
@custom-media --phone (min-width: 500px);

@custom-media --tablet (min-width: 800px);

@custom-media --laptop (min-width: 1050px);

@custom-media --desktop (min-width: 1200px);

div {
	@media(--phone) {
		box-sizing: inherit;
	}

	@media(--tablet) {
		box-sizing: inherit;
	}

	@media(--laptop) {
		box-sizing: inherit;
	}

	@media(--desktop) {
		box-sizing: inherit;
	}
}

/*-----------------------------------*\
	HTML/BODY
\*-----------------------------------*/
html {
	box-sizing: border-box;
	font-family: 'Crimson Pro', serif;
	font-size: 18px;
	line-height: 1.618;
	color: var(--Black);
	background: var(--White);

	scroll-behavior: smooth;
}

html,
body {
	padding: 0;
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

*:focus {
	outline: 1px solid rgba(81, 203, 238, 1);
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

/*-----------------------------------*\
	MAIN & ARTICLE
\*-----------------------------------*/
main {
	position: relative;

	&>article {
		margin: var(--xLarge) auto;
	}
}

article>*:first-child {
	margin-top: 0;
}

article>*:last-child {
	margin-bottom: 0;
}

/*-----------------------------------*\
	SECTION SIZES
\*-----------------------------------*/
.standard {
	width: 90%;
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}

.is-narrow {
	width: 90%;
	max-width: 640px;
	margin-right: auto;
	margin-left: auto;
}

.is-wide {
	width: 90%;
	max-width: 1024px;
	margin-right: auto;
	margin-left: auto;
}

.is-extra-wide {
	width: 90%;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

.is-full-width {
	width: 100%;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}

section {
	margin: var(--Large) auto;
}

section>*:first-child {
	margin-top: 0;
}

section>*:last-child {
	margin-bottom: 0;
}

/*-----------------------------------*\
	DEFAULT WP CLASSES
\*-----------------------------------*/
.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

img.alignright {
	display: block;
	float: right;
}

img.alignleft {
	display: block;
	float: left;
}

img.aligncenter {
	display: block;
	margin: 1em auto;
}

.wp-caption {
	padding-top: 5px;
	margin-bottom: 1.5em;
	text-align: center;
}

.wp-caption img {
	padding: 0;
	margin: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	margin: 0;
	font-size: 10px;
	line-height: 1.5;
}

.wp-smiley {
	max-height: 1em;
	margin: 0 !important;
}

/*-----------------------------------*\
	SKIP NAV
\*-----------------------------------*/
#skip-to-content {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999999;
	transition: all 0.25s linear;
	transform: translateY(-100%);

	&:focus {
		transform: translateY(0);
	}
}

/*-----------------------------------*\
	E5 CREDIT
\*-----------------------------------*/
#element5-credit {
	& a {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}