/*-----------------------------------*\
	VARIABLES
\*-----------------------------------*/
/*-----------------------------------*\
	xSmall: 4px
	Small: 8px
	Medium: 16px
	Large: 32px
	xLarge: 64px
\*-----------------------------------*/
:root {
	--xSmall: .25rem;
	--Small: .5rem;
	--Medium: 1rem;
	--Large: 2rem;
	--xLarge: 4rem;
	--White: #efefef;
	--Black: #252525;
	--Orange: #f68c29;
	--DarkGreen: #2d332a;
	--LightGreen: #51655a;
	--Blue: #126fa6;
	--DarkBlue: #0c4e75;
	--Purple: #9624ae;
}