/*----------------------------------------------------------------*\
	ARCHIVES TEMPLATES
\*----------------------------------------------------------------*/
/*-----------------------------------*\
	PAGINATION
\*-----------------------------------*/
nav.pagination {
	margin: var(--xLarge) auto var(--Medium) auto;
	text-align: center;

	& a {
		margin: 0 var(--Small);
	}
}