/*----------------------------------------------------------------*\
	CONFIRMATION TEMPLATE
\*----------------------------------------------------------------*/
body.page-template-confirmation {
	background-color: var(--DarkGreen);
	min-height: 100vh;

	& section.is-narrow.aligncenter {
		min-height: 400px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		align-items: center;

		& h1 {
			color: var(--White);
			width: 100%;
			margin: 0;

			& span {
				display: block;
				font-size: 80px;
			}
		}

		& p {
			color: var(--White);
			font-size: 24px;
		}
	}
}