/*----------------------------------------------------------------*\
	404 TEMPLATE
\*----------------------------------------------------------------*/
body.error404 {
	background-color: var(--DarkGreen);
	min-height: 100vh;

	& section.is-narrow.aligncenter {
		min-height: 400px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		align-items: center;

		& h1 {
			color: var(--White);

			& span {
				display: block;
				font-size: 80px;
			}
		}
	}
}