/*----------------------------------------------------------------*\
	FRONT PAGE TEMPLATE
\*----------------------------------------------------------------*/
body.home {
	& main > article {
		margin-bottom: 0;
	}
}