/*-----------------------------------*\
	PRIMARY NAVIGATION
\*-----------------------------------*/
body {
	&.nav-active {
		position: fixed;
	}
}

.primary-navigation {
	background-color: var(--DarkGreen);
	width: 100%;
	position: relative;
	z-index: 9999;
	transition: all 0.25s ease-in-out;

	& nav {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin: 0 auto;
		padding: 1em;
		width: 100%;
		max-width: 1200px;

		& > a {
			display: grid;
			margin-right: auto;

			& img {
				max-width: 200px;
			}
		}

		& ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: flex-start;
			padding: 0;
			align-items: center;
			margin: 0;
			list-style: none;
			position: fixed;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(233, 238, 241, 0.95);
			padding-top: 100px;
			opacity: 0;
			visibility: hidden;
			transition: .25s all linear;

			@media(--tablet) {
				position: inherit;
				height: inherit;
				flex-wrap: inherit;
				align-content: inherit;
				background-color: inherit;
				padding-top: inherit;
				width: inherit;
				opacity: 1;
				visibility: visible;
			}

			&.is-active {
				opacity: 1;
				visibility: visible;

				& li {
					opacity: 1;
				}
			}

			& li {
				padding: 0 4rem;
				width: 100%;
				position: relative;
				text-align: right;
				transition: 0.25s all linear;
				opacity: 0;

				@media(--tablet) {
					padding: var(--Small) 1rem;
					width: inherit;
					text-align: left;
					opacity: 1;
				}

				&:first-child {
					margin-top: auto;
				}

				&:last-child {
					@media(--tablet) {
						padding-right: 0;
					}
				}

				&.current-menu-item {
					& a {
						@media(--tablet) {
							color: var(--White);
						}
					}
				}

				& a {
					color: var(--Black);
					font-family: 'Montserrat', sans-serif;
					font-size: 18px;
					font-weight: 400;
					text-decoration: none;
					transition: 0.25s all linear;

					@media(--tablet) {
						color: var(--White);
					}

					&:hover,
					&:focus {
						color: var(--Orange);
					}
				}
			}
		}

		&>button {
			padding: .75rem 0;
			min-width: 30px;

			&:hover,
			&:focus {
				left: 0;
			}
		}
	}
}

/*----------------------------------------------------------------*\
		HAMBURGER MENU
\*----------------------------------------------------------------*/
button.activate-menu {
	background: none;
	margin-right: 0;

	@media(--tablet) {
		display: none;
	}
}

.hamburger-menu,
.hamburger-menu::after,
.hamburger-menu::before {
	width: 30px;
	height: 3px;
}

.hamburger-menu::before {
	content: "";
	position: absolute;
	right: 0;
	bottom: 8px;
	background: var(--White);
	transition: bottom .3s .3s cubic-bezier(0.23, 1, 0.32, 1), transform .3s cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu::after {
	content: "";
	position: absolute;
	right: 0;
	top: 8px;
	background: var(--White);
	transition: top .3s .3s cubic-bezier(0.23, 1, 0.32, 1), transform .3s cubic-bezier(0.23, 1, 0.32, 1);
	width: 30px;
}

.hamburger-menu {
	display: block;
	position: relative;
	z-index: 11;
	background: var(--White);
	transition: all 0 .3s;
	float: right;
	order: 1;
	width: 30px;

	@media(--tablet) {
		display: none;
	}
}

.hamburger-menu.is-active {
	background-color: rgba(255, 255, 255, 0);
}

.hamburger-menu.is-active::after {
	top: 0;
	transform: rotate(45deg);
	transition: top .3s cubic-bezier(0.23, 1, 0.32, 1), transform .3s .3s cubic-bezier(0.23, 1, 0.32, 1);
	width: 30px;
	background: var(--Orange);
}

.hamburger-menu.is-active::before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom .3s cubic-bezier(0.23, 1, 0.32, 1), transform .3s .3s cubic-bezier(0.23, 1, 0.32, 1);
	background: var(--Orange);
}